
venv/
.venv/
env/
.env/
ENV/


.env

__pycache__/
*.py[cod]
*$py.class


.vscode/

.idea/

*.sublime-project
*.sublime-workspace

*.log
logs/
src/logs/

.pytest_cache/
.coverage
htmlcov/
nosetests.xml
coverage.xml


dist/
build/
*.egg-info/
.eggs/

.DS_Store
Thumbs.db